<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script src="http://localhost:3000/livereload.js"></script>
    <title>{{datas.title}}</title>
  </head>
  <body>
    <h1>{{datas.title}}</h1>

    <article>
      <h2>{{datas.posts.title}}</h2>
      <p>{{datas.posts.content}}</p>
    </article>
  </body>
</html>
